/* DHG15 stylezzz */

.exempel-elev { color: aqua; }
.fredrik-wasstrom{color:orange;}.fredrik-wasstrom span{color:red;}.fredrik-wasstrom span span{color:green ;}.fredrik-wasstrom span span span{color:blue ;}